In [33]:
import quandl
df = quandl.get("WIKI/GOOGL")

In [34]:
df = df[['Close', 'High', 'Low', 'Volume']]
import math
df['label'] = df['Close'].shift(-(math.ceil(0.01*len(df))))

In [35]:
df.dropna(inplace=True)

In [36]:
df

               Close     High      Low      Volume    label
Date
2004-08-19   100.335   104.06    95.96  44659000.0   137.73
2004-08-20   108.310   109.08   100.50  22834300.0   135.26
2004-08-23   109.400   113.48   109.05  18256100.0   137.40
2004-08-24   104.870   111.60   103.57  15247300.0   140.90
2004-08-25   106.000   108.00   103.88   9188600.0   142.00
...              ...      ...      ...         ...      ...
2018-01-30  1177.370  1187.93  1174.51   1792602.0  1094.00
2018-01-31  1182.220  1186.32  1172.10   1643877.0  1053.15
2018-02-01  1181.590  1187.45  1169.36   2774967.0  1026.55
2018-02-02  1119.200  1131.30  1111.17   5798880.0  1054.09
2018-02-05  1068.760  1114.99  1056.74   3742469.0  1006.94

[3389 rows x 5 columns]

In [37]:
import numpy as np
X = np.array(df.drop('label', 1))
y = np.array(df['label'])

In [45]:
from sklearn import preprocessing

X = preprocessing.scale(X)

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [47]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [48]:
print(reg.score(X_test, y_test))

0.8126496696909526